a {
    color: midnightblue;
    text-decoration: none;
}

a:hover {
    color: midnightblue;
    text-decoration: underline;
}


code, pre {
    font-size: 0.825em; /* Adjust this value to your preference */
}
